@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

$main-font-family: "Montserrat";
$medium-font-size: 13px;
$main-font-regular: normal 300 $medium-font-size $main-font-family;
