@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

$main-font-family: "Montserrat";
$xsmall-font-size: 8px;
$small-font-size: 10px;
$medium-font-size: 13px;
$slarge-font-size: 16px;
$large-font-size: 20px;
$xlarge-font-size: 26px;
$xxlarge-font-size: 34px;
$main-font-regular: normal 300 $medium-font-size $main-font-family;
$main-font-title: normal 300 $xxlarge-font-size $main-font-family;


h1 {
    font: $main-font-regular, sans-serif;
    font-size: $xlarge-font-size;
    color: $text-color;
    @media (max-width: $sm) {
      font-size: $large-font-size;
    }
}